* {
    font-family: "Roboto", sans-serif;
}

.body {
    margin-left: 20%;
}

.sidebarContainer {
    width: 18%;
}

.sidebarContainer a:hover p,
.sidebarContainer a:hover svg,
.sidebarContainer--subscriptions a:hover p,
.sidebarContainer .cursor-pointer:hover p,
.sidebarContainer .cursor-pointer:hover svg {
    color: #000;
}

.menubar a.active {
    background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}

.menubar a.active svg {
    color: rgba(185, 28, 28, var(--tw-text-opacity));
}

.tagList a {
    flex-basis: auto;
}

.videoCard {
    width: 23%;
}

.videoCard span.views:after {
    content: "";
    width: 2px;
    height: 2px;
    display: inline-block;
    background: #222;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 999px;
}